* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --primary: #B1B1B1;
    --secondary: #797979;
    --tertiary: #606060;
    --silver: #5A5A5A;
    --bg-black: #020202;
    --bg-page: #1E1E1E;
    --yellow: #FCAF17;
    --white: #ffffff;
}

html,
body {
    background-color: #101010;
    overflow-x: hidden;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--white);
    transition: color 0.3s ease;
    cursor: pointer;
}

.hamburger svg path {
    stroke: currentColor;
}

.hamburger:hover {
    color: var(--yellow);
}

.menu-mobile li a:hover {
    color: var(--yellow);
}

.menu-mobile {
    display: none;
    flex-direction: column;
    gap: 16px;
    background-color: var(--bg-page);
    position: absolute;
    top: 80px;
    width: 100%;
    padding: 20px;
    z-index: 100;
}

.menu-mobile ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menu-mobile li a {
    color: var(--white);
    font-weight: 500;
    font-size: 1rem;
}

.menu-mobile .btn-launcher,
.menu-mobile .menu-opcoes {
    margin-top: 10px;
}

.menu-mobile.open {
    display: flex;
}

.menu-opcoes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.menu-opcoes::-webkit-scrollbar {
    display: none;
}

.btn-opcao {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background-color: var(--silver);
    cursor: pointer;
    color: var(--white);
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.btn-opcao:hover {
    background-color: var(--tertiary);
    transform: scale(1.05);
    color: var(--yellow);
}

.btn-opcao svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
    transition: fill 0.3s ease, color 0.3s ease;
    color: var(--white);
}

.btn-opcao:hover svg path {
    fill: #FCAF17;
}

.menu-list li a,
.menu-mobile ul li a {
    transition: color 0.3s;
}

.menu-list li a:hover,
.menu-mobile ul li a:hover {
    color: #FCAF17;
}

.menu-list li a .icon-menu,
.menu-mobile ul li a .icon-menu {
    transition: filter 0.3s;
}

.menu-list li a:hover .icon-menu,
.menu-mobile ul li a:hover .icon-menu {
    filter: invert(78%) sepia(83%) saturate(380%) hue-rotate(1deg) brightness(95%) contrast(92%);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 29px 140px;
    width: 100%;
    max-width: 1440px;
    flex: wrap;
    margin: 0 auto;
}

.logo {
    margin-right: 47px;
}

.menu-list {
    display: flex;
    margin-right: auto;
    gap: 24px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
    transition: color 0.3s ease;
}

.menu-list li a {
    text-decoration: none;
    color: var(--white);
    display: flex;
}

.menu-list li:first-child a {
    flex-direction: row-reverse;
}

.menu-list li a:hover {
    color: var(--yellow);
}

.btn-launcher {
    width: 193px;
    height: 52px;
    color: var(--bg-black);
    background-color: var(--yellow);
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 40px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.3s ease;
    line-height: 150%;
    white-space: nowrap;
    flex-shrink: 0;
}

.btn-launcher:hover {
    background-color: #f1a20b;
    transform: scale(1.03);
}

.icon {
    transition: fill 0.3s ease;
}

.gta6-banner {
    width: 100%;
    height: auto;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.games {
    margin: 80px auto;
    max-width: 1160px;
    width: 100%;
    height: auto;
}

.container {
    color: var(--white);
    font-size: 3rem;
    line-height: 150%;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container2 {
    color: var(--white);
    font-size: 3rem;
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
}

.container2 img {
    transition: all 0.5s ease;
    cursor: pointer;
    width: 100%;
    height: auto;
    display: block;
}

.container2 img:hover {
    transform: translateY(-10px) scale(1.03);
}

.mobile-devices {
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: color 0.3s ease;
}

.pc {
    width: 100%;
    width: 70px;
    height: 32px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
    border-radius: 15px;
    background-color: var(--tertiary);
    color: var(--white);
    border: none;
    cursor: pointer;
}

.pc:hover {
    color: var(--yellow);
}

.console {
    width: 100%;
    width: 106px;
    height: 32px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
    border-radius: 15px;
    background-color: var(--tertiary);
    color: var(--white);
    border: none;
    cursor: pointer;
}

.console:hover {
    color: var(--yellow);
}

.dispositivos-portateis {
    width: 100%;
    width: 196px;
    height: 32px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
    border-radius: 15px;
    background-color: var(--tertiary);
    color: var(--white);
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.dispositivos-portateis:hover {
    color: var(--yellow);
}

.btn-view {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 260px;
    height: 63px;
    background-color: var(--yellow);
    color: var(--bg-black);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 150%;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.btn-view:hover {
    background-color: #f1a20b;
}

.info {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    margin-bottom: 112px;
}

.info h2 {
    color: var(--white);
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 40px;
    overflow-x: hidden;
}

.info-content {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.bg-black {
    background-color: var(--bg-black);
    padding-bottom: 27px;
    flex: none;
    max-width: 860px;
    width: 100%;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 16px;
}

.bg-black:hover {
    transform: translateY(-10px) scale(1.03);
}

.bg-black img {
    width: 100%;
    height: 352px;
    object-fit: cover;
    object-position: top center;
    margin-bottom: 24px;
    border-radius: 16px 16px 0px 0px;
}

.bg-black h3 {
    color: var(--white);
    font-size: 2rem;
    font-weight: 500;
    margin-left: 32px;
    margin-bottom: 8px;
    line-height: 150%;
}

.bg-black strong:first-of-type {
    color: var(--secondary);
    font-size: 1rem;
    margin-left: 32px;
    font-weight: 300;
    line-height: 150%;
}

.bg-black strong:last-of-type {
    color: var(--secondary);
    font-size: 1rem;
    margin-left: 8px;
    font-weight: 300;
    line-height: 150%;
}

.asides-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.asides-column aside {
    width: 100%;
    max-width: 260px;
    height: 224px;
    background-color: var(--bg-black);
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
}

.asides-column aside:hover {
    transform: translateY(-10px) scale(1.03);
}

.asides-column aside h4 {
    color: var(--white);
    margin: 8px 0 4px 12px;
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 150%;
}

.container-aside strong:first-of-type {
    color: var(--secondary);
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 150%;
    display: flex;
}

.container-aside strong:last-of-type {
    color: var(--secondary);
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 150%;
    margin-left: 8px;
}

.asides-column aside img {
    width: 100%;
    width: 260px;
    height: 142px;
    object-fit: cover;
    object-position: top center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.asides-column aside div {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    padding-left: 12px;
    padding-bottom: 12px;
}

.asides-column aside div strong {
    font-size: 0.75rem;
    color: var(--white);
    white-space: nowrap;
}

aside .container-aside1 h4 {
    color: var(--white);
    margin: 8px 0 4px 12px;
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 150%;
}

.container-aside1 strong:first-of-type {
    color: var(--secondary);
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 150%;
}

.container-aside1 strong:last-of-type {
    color: var(--secondary);
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 150%;
    margin-left: 8px;
}

article .download {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1160px;
    width: 100%;
    height: 535px;
    background-image: url(./img/fundo.png);
    background-repeat: no-repeat;
    overflow-x: hidden;
    margin: 0 auto 93px auto;
    padding: 0 30px;
    box-sizing: border-box;
}

.games-launcher {
    display: flex;
    align-items: center;
    gap: 18.24px;
    margin: 77px 81.79px 32px 76px;
}


.games-launcher h5 {
    font-size: 2.598125rem;
    font-weight: 800;
    line-height: 120%;
}

.download-launcher {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 76px;
}

.download-launcher p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 150%;
    width: 326px;
    margin-bottom: 64px;
}

.download-launcher button {
    width: 260px;
    height: 63px;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 150%;
    border-radius: 8px;
    color: var(--bg-black);
    background-color: var(--yellow);
    cursor: pointer;
    border: none;
}

.download-launcher button:hover {
    background-color: #f1a20b;
}

.buy-now img {
    max-width: 660px;
    position: relative;
    object-fit: cover;
    object-position: top center;
    overflow: hidden;
}

footer {
    max-width: 100%;
    height: 238px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    overflow-x: hidden;
    background-color: var(--bg-black);
}

footer .logo2 {
    margin-left: 140px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.footer-content ul {
    display: flex;
    gap: 24px;
    list-style: none;
}

.footer-content li a {
    color: var(--primary);
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.5s ease;
}

footer ul li a:hover {
    color: var(--yellow);
}

footer strong {
    color: var(--primary);
    font-size: 0.8125rem;
    font-weight: 300;
    line-height: 150%;
    transition: color 0.5s ease;
    cursor: pointer;
}

footer strong:hover {
    color: var(--yellow);
}

.footer-icons {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 140px;
}

.footer-icons img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.footer-icons img:hover {
    transform: scale(1.1);
}

.footer-icons img:hover {
    filter: brightness(0) saturate(100%) invert(76%) sepia(39%) saturate(2556%) hue-rotate(359deg) brightness(101%) contrast(106%);
}

@media (max-width: 1000px) {
    nav {
        max-width: 100%;
        padding: 20px 30px;
        margin: 0;
        align-items: center;
        justify-content: space-between;
    }

    .menu-list,
    .btn-launcher,
    .menu-opcoes {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .menu-mobile {
        display: none;
        flex-direction: column;
    }

    .games {
        margin: 80px 30px;
    }

    .container {
        flex-direction: column;
    }

    .container strong {
        font-size: 2rem;
    }

    .container2 {
        flex-direction: column;
    }

    .info {
        padding: 0 30px;
    }

    .info h2 {
        font-size: 2rem;
    }

    .info-content {
        flex-direction: column;
    }

    .bg-black {
        padding-bottom: 20px;
        width: 100%;
    }

    .bg-black img {
        height: 230px;
        border-radius: 12px 12px 0 0;
    }

    .bg-black h3 {
        font-size: 1.25rem;
        margin-left: 16px;
    }

    .bg-black strong:first-of-type,
    .bg-black strong:last-of-type {
        font-size: 0.85rem;
        margin-left: 16px;
        display: block;
        margin-top: 4px;
    }

    .info {
        padding: 0 20px;
    }

    .asides-column {
        display: none;
    }

    .container-aside1 {
        display: none;
    }

    article .download {
        display: none;
    }

    .left-side {
        display: none;
    }

    .games-launcher {
        display: none;
    }

    .download-launcher {
        display: none;
    }

    .buy-now img {
        display: none;
    }

    footer {
        flex-direction: column;
        height: auto;
        padding: 50px 30px;
        gap: 30px;
    }

    footer .logo2 {
        margin: 0;
        width: 110px;
    }

    .footer-content ul {
        flex-direction: column;
        align-items: center;
        gap: 14px;
    }

    .footer-icons {
        margin: 0;
        justify-content: center;
        gap: 18px;
    }

    .footer-icons img {
        width: 30px;
        height: 30px;
    }
}